<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
<div id="app">{{ message }}
    <video width="320" height="240" controls>
    <source src="http://music.163.com/song/media/outer/url?id=1397345903" type="video/mp4">
</video>
</div>

<script>

    const { createApp, ref } = Vue

    createApp({
        setup() {
            const message = ref('Hello vue!')
            return {
                message
            }
        }
    }).mount('#app')
</script>
</body>
</html>